@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato' !important;
}

h1 {
    color: #fff;
    font-size: 80px !important;
    font-family: 'Kaushan Script';
}

h2 {
    color: #fff;
    font-size: 60px !important;
    font-family: 'Kaushan Script';
}

h3 {
    color: #fff;
    font-size: 40px !important;
}

#homeH4 {
    color: rgb(254, 189, 107);
    font-size: 23px !important;
}

h5, h6 {
    color: #fff;
}

.homeParagraph {
    color: rgb(255, 255, 255);
    width: 52%;
    font-size: 20px;
}

/* Navbar */
.NavbarBrand {
    font-weight: 500;
    font-size: 35px;
    font-family: 'Kaushan Script';
}

.nav-bar {
    background-color: rgb(28, 31, 45);
}

.nav-link {
    font-weight: 600;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 0px !important;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full,
.btn-full:link,
.btn-full:visited,
button[type=submit],
button[type=reset] {
    background-color: #003366 !important;
    border: 1px solid #003366  !important;
    border-radius: 0 !important;
    color: #fff !important; }

.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited {
    background-color: transparent !important;
    border: 1px solid rgb(254, 189, 107) !important;
    border-radius: 0 !important;
    color: #fff !important; }

.btn:hover,
.btn:active,
button[type=submit]:hover,
button[type=submit]:active,
button[type=reset]:active  {
    background-color: rgb(254, 189, 107) !important;
    color: #000 !important; }

.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(254, 189, 107) !important; }

.btn-ghost:hover,
.btn-ghost:active {
    background-color: rgb(254, 189, 107) !important;
    border: 1px solid rgb(254, 189, 107) !important;
    color: rgba(0, 0, 0, 1) !important; }



.home {
    min-height: 100vh;
    width: 100%;
    display: grid;
    background-color: rgb(28, 31, 45);;
    align-content: center;
    background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/images/background.jpeg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.projects {
    min-height: 100vh;
    width: 100%;
    display: grid;
    background-color: rgb(28, 31, 45);;
    background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/images/background.jpeg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.social-links {
    font-size: 25px;
    text-align: right;
}

.card-icon {
    font-size: 30px;
}

.card-img-div {
    max-height: 365px;
    overflow: hidden;
}

.card-title {
    font-size: 20px;
    color:black;
    font-weight: 600;
}

.card-text {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    color: rgb(50, 50, 50) !important;
}

.row-content {
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.copyright {
    text-align: left;
    display: grid !important;
    align-content: center !important;
}

.form-label {
    font-size: 22px !important;
}

/* Footer */
.site-footer {
    background-color: rgb(41, 45, 72); 
}

.footer-icon {
    color: #fff !important;
}

@media screen and (max-width: 980px) {
    .homeParagraph {
        color: rgb(255, 255, 255) !important;
        width: 90% !important;
        font-size: 18px;
    }

    h1 {
        color: #fff;
        font-size: 60px !important;
        font-family: 'Kaushan Script';
    }

    h4 {
        color: rgb(254, 189, 107);
        font-size: 18px !important;
    }
    .copyright {
        text-align: center;
    }
    .social-links {
        font-size: 25px;
        padding-top: 5px;
        text-align: center;
    }
    .navbar-social-links {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .home {
        min-height: 100vh;
        width: 100%;
        display: grid;
        background-color: rgb(28, 31, 45);;
        align-content:flex-start;
        background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/images/background.jpeg);
        background-attachment: fixed;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    .homeParagraph {
        color: rgb(255, 255, 255) !important;
        width: 100% !important;
        font-size: 18px;
    }
}